@model IEnumerable<ShopProject.Models.Category>

@{
    ViewBag.Title = "Kategorie";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj pozycje", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nazwa
        </th>
        <th>
           Opis
        </th>

    </tr>

@foreach (var item in Model)
{
    <tr onclick="location.href = '@(Url.Action("", "Product", new { category = item.code }))'" style="cursor: pointer">
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>


    </tr>
}

</table>
